name: Build and upload resume

on:
  push:
    branches: [main]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Setup Texlive Environment
        run: |
          wget https://mirror.ctan.org/systems/texlive/tlnet/install-tl-unx.tar.gz
          tar --extract --file install-tl-unx.tar.gz
          rm install-tl-unx.tar.gz
          cd install-tl-*
          sudo perl ./install-tl --no-interaction --scheme=scheme-minimal --no-doc-install --no-src-install
          echo "/usr/local/texlive/$(date +%Y)/bin/x86_64-linux" >> $GITHUB_PATH

      - name: Install Texlive packages
        run: sudo /usr/local/texlive/$(date +%Y)/bin/x86_64-linux/tlmgr install $(cat DEPENDS.txt)

      - name: Install nox
        run: python -m pip install git+https://github.com/wntrblm/nox

      - name: Build PDFs
        run: nox --sessions build_pdfs

      - name: Login to Azure
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5  # v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Upload to blob storage
        uses: azure/CLI@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956  # v2.2.0
        with:
          inlineScript: |
            az storage blob upload-batch --account-name bradleyreynolds --destination '$web' --source build --pattern "*.pdf" --overwrite

      - name: Logout of Azure
        run: |
          az logout
        if: always()
